/* added for the message option */

.make_fixed {
    position: fixed;
    bottom: 0;
    right: 0%;
    width: fit-content;
    height: 50px;
    transition: height 1s;
    z-index: 5;
  }

  .make_fixed.none {
    display: none;
  }

  .make_fixed.active {
    height: 465px;
    
  }
  
  .container 
  { 
      max-width: 400 !important;
      font-family: sans-serif;
      letter-spacing:  0.5px;
  }
  
  .container img {
      max-width: 100%; 
      border-radius: 50%;
  }
  .msg-header {
      border: 1px solid #ccc;
      width: 100%;
      height: 55px;
      border-bottom: none; 
      display: inline-block;
      background-color: #007bff;
      cursor: pointer;
  }
  
  .msg-header-img {
      border-radius: 50%;
      width: 40px;
      margin-left: 5%;
      margin-top: 5px;
      float: left;
  }
  
  .activeDemo {
      width: 180px;
      float: left;
      margin-top: 10px;
  }
  .activeDemo h4 {
    padding-left: 5px;
      font-size:  13px;
      color: #fff;
  }
  
  .activeDemo h6 {
      font-size: 10px;
      margin-top: 7px;
      margin-left: 10px;
      line-height: 2px;
      color: #fff;
  }
  
  .header-icons {
      width: 100px;
      float: right;
      margin-top: 8px;
      margin-right: 5px;
  }
  
  .header-icons .fa {
      color: #fff;
      cursor: pointer;
      margin-top: 10px;
      margin: 5px;   
  }
  
  .chat-page {
      padding:  0 0 0 0;
  }
  .msg-inbox {
      border:  1px solid #ccc;
      overflow: hidden;
      padding-bottom: 30px;
      background-color: white;
  }
  .chats {
      padding: 15px 10px 0px 10px;
      overflow-y: auto;
      scrollbar-width: none;
      background-color: white;
  }
  
  
  .msg-page {
      height: 300PX;
      overflow-y: auto;
      scrollbar-width: none;
  }
  
  .received-chats-img {
      display: inline-block;
      width: 30px;
      float: left;
  }
  
  .received-msg {
      display: inline-block;
      padding: 0px 0px 0px 10px;
      vertical-align: top;
      width: 90%;
  }
  
  .received-msg-inbox {
      width: 57%;
  }
  .received-msg-inbox p {
      background: #efefef none repeat 0 0;
      border-radius: 10px;
      color: #646464;
      font-size: 14px;
      margin: 0;
      padding: 5px 10px 5px 12px;
      width: 100%;
  }
  .time {
      color: #777;
      display: block;
      font-size: 12px;
      margin: 8px 0 0;
  }
  
  .outgoing-chats {
      overflow: hidden;
      margin: 10px 5px;
  }
  
  .outgoing-chats-msg p {
      background: #007bff none repeat scroll 0 0;
      color: #fff;
      border-radius: 10px;
      font-size: 14px;
      margin: 0px;
      padding: 5px 10px 5px 12px;
      width: 100%;
  }
  
  .outgoing-chats-msg {
      float: left;
      width: 46%;
      margin-left: 42%;
  }
  
  .outgoing-chats-img {
      display: inline-block;
      width: 30px;
      float: right;
  }
  .msg-bottom {
      border: 1px solid #ccc;
      width: 100%;
      height: fit-content;
      padding-bottom: 10px;
      border-bottom: none; 
      display: inline-block;
      background-color: #007bff;
  }
  
  .input-group {
      float: right;
      margin-top: 10px;
      margin-right: 5px;
      outline: none !important;
      border-radius: 20px;
      width: 61% !important;
      background-color: #fff;
  }
  
  .form-control {
      border:  none !important;
      border-radius: 20px !important;
  }
  
  .input-group-text {
      background:  transparent !important;
      border: none !important;
      cursor: pointer;
  }
  
  .input-group .fa {
      color: #007bff;
      float: right;
  }
  .bottom-icons {
      float: left;
      margin-top: 15px;
      width: 30% !important;
      margin-left: 10px;
  }
  
  .bottom-icons .fa {
      color: wheat;
      padding: 4px;
  }
  
  .form-control:focus {
      border-color:  none !important;
      box-shadow: none !important;
      border-radius: 20px;
  }