<!doctype html>
<html lang="en">

<head>
    <title>Contact Form 08</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body style="display: flex; background-color: rgb(241, 239, 239);">

        <div class="container">

            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-10 col-lg-0">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Post a work</h3>
                                <div id="form-message-warning" class="mb-4"></div>
                                <div id="form-message-success" class="mb-4">
                                    Your message was sent, thank you!
                                </div>
                                <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="name">Work Title</label>
                                                <input [(ngModel)]="demoWork.WorkTittle" type="text" class="form-control" name="name" id="name"
                                                    placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="email">Starting Money</label>
                                                <input [(ngModel)]="demoWork.StartingMoney" type="email" class="form-control" name="email" id="email"
                                                    placeholder="Email">
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="email">Select Title Image</label>
                                                <input type="file" #Image accept="image/*" id="imageUpload" (change)="handlerFileInput($event)">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="subject">Category</label>
                                                <input [(ngModel)]="demoWork.WorkCatagory" type="text" class="form-control" name="subject" id="subject"
                                                    placeholder="Subject">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="subject">Sub-Category</label>
                                                <input [(ngModel)]="demoWork.workSubCatagory" type="text" class="form-control" name="subject" id="subject"
                                                    placeholder="Subject">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="#">Summary</label>
                                                <textarea [(ngModel)]="demoWork.WorkSummery" name="message" class="form-control" id="message" cols="30"
                                                    rows="5" placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="#">Details</label>
                                                <textarea [(ngModel)]="demoWork.WorkDetails" name="message" class="form-control" id="message" cols="100"
                                                    rows="8" placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12" (click)="checkTheSubmitValue()">
                                            <div class="form-group">
                                                <input type="submit" value="Submit" class="btn btn-primary">
                                                <div  class="submitting"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="main">

                <!--cards -->
          
                <div class="card">
          
                   <div *ngIf="this.demoWork.WorkPicture.length" class="image">
                      <img
                         src="{{this.demoWork.WorkPicture}}">
                   </div>
                   <div *ngIf="this.demoWork.WorkPicture.length==0" class="image">
                    <img
                       src="https://www.nature.com/nature-index/article/image/5f605fbe17c63323315eb2e2">
                 </div>
                   <div class="title">
                      <h1>
                         {{this.demoWork.WorkTittle}}</h1>
                   </div>
                   <div class="profile">
                      <div>
                         <img class="profile_image" src="{{this.demoWork.ProfilePicture}}">
                      </div>
                      <div style="padding-top: 15px; padding-left: 20px;">{{this.demoWork.ProfileName}}</div>
                   </div>
                   <div class="des">
                      <p>{{this.demoWork.WorkSummery}}</p>
                        <button>Read more..</button>
                      
                   </div>
                </div>
                <!--cards -->
            </div>
        </div>

</body>

</html>